/* You can add global styles to this file, and also import other style files */
@import url("https://fonts.googleapis.com/css2?family=Encode+Sans+Expanded:wght@300&display=swap");
:root {
  --main-color: #0aad0a;
  --light-color: #f0f3f2;
  --shadow: rgba(145, 158, 171, 0.2) 0px 2px 4px -1px,
    rgba(145, 158, 171, 0.14) 0px 4px 5px 0px,
    rgba(145, 158, 171, 0.12) 0px 1px 10px 0px;
  --font-family: "Encode Sans Expanded", sans-serif;
  --rating-color: #ffc908;
}

body {
  font-family: var(--font-family) !important;
}
.rating-color {
  color: var(--rating-color);
}
.cursor-pointer {
  cursor: pointer;
}
a,
a:hover {
  color: black;
  text-decoration: none;
}
.product {
transition: all 1s;
border: solid 1px transparent;
}
.product:hover {
  box-shadow: var(--shadow);
  border: solid 1px var(--main-color);
}
.product .btn {
  transition: transform 1s, opacity 1s;
  transform: translateY(100%);
  opacity: 0;
}
.product:hover .btn {
  opacity: 1;
  transform: translateY(0%);
}
.font-sm {
  font-size: 14px;
}
.text-main {
  color: var(--main-color);
}
.bg-main {
  background-color: var(--main-color) !important;
}
.bg-main-light {
  background-color: var(--light-color) !important;
}
/* __________________ */

nav.navbar {
  padding: 1.25rem 0;
}

nav.navbar.scrolled {
  padding: 0.9375rem 0 0.3125rem 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  background-color: rgba(200, 237, 200, 0.95);
  transition: all 1s;
}

.navbar-nav .nav-link {
  width: fit-content;
}
.navbar-nav .nav-link.active {
  color: #0aad0a;
  font-weight: bolder;
}

nav .navbar-toggler {
  border: 2px solid #0aad0a;
}
nav .navbar-toggler i {
  color: #000;
}

.nav-link .badge {
  transition: all 1s;
}

.cartIcon {
  font-size: 1.25rem;
}

img {
  width: 100%;
}

button.slick-arrow.slick-next {
  display: none !important;
}

.offline {
  padding: 0.625rem 1.25rem;
  border-radius: 3.125rem;
  background-color: #df0016;
  position: fixed;
  bottom: 30px;
  right: 30px;
  color: #fff;
  font-weight: bold;
  z-index: 999;
}

.wishBtn {
  background-color: transparent;
  border: none;
  left: 50%;
  bottom: 63px;
  transform: translateX(-50%);
  font-size: 25px;
}

.forgetText {
  width: fit-content;
}


.searchRadios{
  background-color: #0aad0a;
  border-radius: 5px;
  color: #fff;
  font-weight: bold;
}


/* ___ form ____ */
.error-message {
  position: absolute;
  left: 20px;
  top: 95%;
  color: #fff;
  background-color: #df0016;
  border-radius: 5px;
  padding: 0 10px;
  box-shadow: 0 0 10px 0px #0000008c;
  z-index: 9;
}
.error-message i {
  position: absolute;
  top: -9px;
  left: 20px;
}

button {
  transition: all 0.5s !important;
}

/* _________ */

@media (max-width: 576px) {
  .cartRow {
    padding: 1rem 0 !important;
  }
  .loading {
    width: 100% !important;
  }
}
